.UserProductPopupmainareaedit {
    margin: 2px;
    margin-left: 15px;
    overflow: hidden;
    z-index: 999999;

    .UserProductPopupmainareaheadedit {
        color: var(--text-color);
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--text-color);

        span {
            color: var(--text-color);
            text-align: center;
            font-size: 32px;
            font-weight: 600;
        }

        .crosseditproductupclose {
            position: absolute;
            top: 6px;
            cursor: pointer;
            right: 10px;
            font-size: 30px;
        }
    }

    .UserProductPopupupmainareadetailsedit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        padding-right: 0;

        // form
        .producteditpopformeditcated {
            display: grid;
            padding: 16px;
            gap: 8px;
            width: 100%;
            height: 400px;
            max-width: 700px;
            overflow-y: scroll;
            padding-bottom: 20px;
            color: var(--text-color);

            .producteditpopforminputedit {
                padding: 8px;
                background: rgb(223, 229, 235);
                border-radius: 8px;
                border: 1px solid;
                font-size: 16px;

            }

            .producteditpopformimageareaedit {
                padding: 8px;
                background: rgb(223, 229, 235);
                border-radius: 8px;
                border: 1px solid;
                height: 128px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .producteditpopformimageareabedit {
                    color: rgb(124, 126, 128);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 8px;
                }
            }

            .uplimgseditpopedit {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 7px;
                margin-left: 4px;
                overflow-x: scroll;

                .uplimgseditpopbedit {
                    position: relative;

                    .uplimgseditpopcedit {
                        background: rgb(223, 229, 235);
                        cursor: pointer;
                        border: 1px solid;
                    }

                    .uplimgseditpopdedit {
                        position: absolute;
                        bottom: 0;
                        right: -8px;
                        padding: 4px;
                        color: aliceblue;
                        background: red;
                        border-radius: 9999px;
                        cursor: pointer;
                    }
                }
            }

            .uplimgseditpopeedit {
                color: red;
                font-size: 0.75rem;
                line-height: 1rem;
            }

            .producteditpopformtextaraeedit {
                height: 112px;
                background: seashell;
                padding: 12px;
                resize: none;
                border-radius: 12px;
                border: 1px solid;
            }

            .producteditpopformbuttonsubmitedit {
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                color: white;
                font-size: 20px;
                margin-top: 8px;
                background: red;

                &:hover {
                    background: rgb(203, 45, 45);
                }
            }
        }
    }
}